<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="The Page Description">
    <style type="text/css">@-ms-viewport {
        width: device-width;
    }</style>
    <title>DevIT</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/layers.min.css" media="screen">

    <link rel="stylesheet" href="/static/board.css" media="screen">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="/static/includeHTML.js"></script>
    <script src="/static/includeRouter.js"></script>



    <style>
        * {
            font-family: 'Do Hyeon', sans-serif;
        }

        .writer {
            font-family: 'Do Hyeon', sans-serif;
        }

        .btn {
            width: 15px;
            border: 0;
            font-size: 15px;
            padding: 10px;
            float: left;
        }

        .btn:hover {
            width: 15px;
            border: 0;
            font-size: 15px;
            padding: 10px;
            background-color: #337ab7;
            color: white;
            float: left;
        }

        .board-write-button {
            width: 100%;
            border: 0;
            font-size: 15px;
            padding: 10px;
        }

        .board-write-button:hover {
            width: 100%;
            border: 0;
            font-size: 15px;
            padding: 10px;
             background-color: #337ab7;
            color: white;
        }

        .white-card {
            background-color: white;
            margin-top: 30px;
        }

        .thumbnail {
            margin-left: 10px;
        }

        .pagination {

        }

    </style>

    <script>
        $(document).ready(function () {
            {% if token %}
            $.cookie('token', '{{ token }}', {path: '/'})
            {% endif %}
            let params = new URLSearchParams(window.location.search);
            let page = 1;
            if (params.get('page') != null) {
                page = parseInt(params.get("page"));
            }
            let searchText = params.get("search");
            if (searchText == null) {
                boardList(page, '');
            } else {
                $('#search-input').val(searchText)
                boardList(page, searchText);
            }
        });

        function nextPage() {
            let params = new URLSearchParams(window.location.search);
            let page = 1;
            if (params.get('page') != null) {
                page = parseInt(params.get("page")) + 1;
            }
            let searchText = params.get("search");
            if (searchText == null) {
                location.href = `/board?page=${page}`;
            } else {
                location.href = `/board?page=${page}&search=${searchText}`;
            }
        }

        function prePage() {
            let params = new URLSearchParams(window.location.search);
            let page = parseInt(params.get("page")) - 1;
            let searchText = params.get("search");
            if (searchText == null) {
                location.href = `/board?page=${page}`;
            } else {
                location.href = `/board?page=${page}&search=${searchText}`;
            }
        }

        function movePage(page) {
            let params = new URLSearchParams(window.location.search);
            let searchText = params.get("search");
            if (searchText == null) {
                location.href = `/board?page=${page}`;
            } else {
                location.href = `/board?page=${page}&search=${searchText}`;
            }
        }

        function search() {
            let searchText = $('#search-input').val();
            if (searchText === '' || searchText === undefined) {
                location.href = `/board?page=1`;
            } else {
                location.href = `/board?page=1&search=${searchText}`;
            }
        }

        function boardList(page, searchText) {
            $('#board-list').empty();
            let pageSize = 5;


            $.ajax({
                type: "GET",
                url: `/api/board?page=${page}&pageSize=${pageSize}&search=${searchText}`,
                data: {},
                success: function (response) {
                    let boards = response['data']['boards'];
                    let total = response['total'];

                    if(searchText !== '') {
                        $('#search-text').text(`${total} results for ${searchText}`)
                    }

                    for (let i = 0; i < boards.length; i++) {
                        let title = boards[i]['board']['title'];
                        let content = boards[i]['board']['content'];
                        let cost = boards[i]['board']['cost'];
                        let created_at = boards[i]['board']['created_at'].split(" ")[0];
                        let image_url = boards[i]['board']['image_url'];

                        let writer_name = boards[i]['user']['name'];

                        let tmp_html = ``;

                        if (image_url === 'default_image.jpeg') {
                            tmp_html = `
                        <article class="clear-after white-card">
                            <div class="column three">
                                <img src="/static/logo.png" alt="" class="thumbnail">
                            </div>
                            <div class="column nine last">
                                <h2><a href="#">${title}</a></h2>
                                <h5 class="meta-post">
                                    <p class="writer">작성자 : ${writer_name}
                                        <time datetime="2013-11-10">[${created_at}]</time>
                                    </p>
                                </h5>
                                <p> ${cost} 원 </p>
                                <p>${content}</p>
                            </div><!-- column nine -->
                        </article>
                        `;
                        } else {
                            tmp_html = `
                        <article class="clear-after white-card">
                            <div class="column three">
                                <img src="https://devit-bucket.s3.ap-northeast-2.amazonaws.com/${image_url}" alt="" class="thumbnail">
                            </div>
                            <div class="column nine last">
                                <h2><a href="#">${title}</a></h2>
                                <h5 class="meta-post">
                                    <p class="writer">작성자 : ${writer_name} -
                                        <time datetime="2013-11-10">${created_at}</time>
                                    </p>
                                </h5>
                                <p> ${cost} 원 </p>
                                <p>${content}</p>
                            </div><!-- column nine -->
                        </article>
                        `;
                        }

                        $('#board-list').append(tmp_html);
                    }

                    let tmp_html = `<button type="button" class="btn btn-white" onclick="prePage()" id="pre-button" disabled><</button>`
                    $('#button-list').append(tmp_html)

                    let page_list = total / (pageSize + 1);
                    for (let i = 1; i <= page_list + 1; i++) {
                        let tmp_html = `
                        <button type="button" class="btn btn-white" onclick="movePage(${i})" id="page-button-${i}">${i}</button>
                        `;
                        $('#button-list').append(tmp_html);
                    }

                    tmp_html = `<button type="button" class="btn btn-white" onclick="nextPage()" id="next-button">></button>`
                    $('#button-list').append(tmp_html)

                    let button_list_size = 40 * (page_list + 3)
                    $('.pagination').css({'margin': 'auto', 'width': `${button_list_size}px`, 'display': 'block'})

                    $(`#page-button-${page}`).prop('disabled', true);

                    // 페이지 이동 버튼 활성화/비활성화
                    if (parseInt(page) === 1) {
                        $('#pre-button').prop('disabled', true);

                    } else {
                        $('#pre-button').prop('disabled', false);
                    }

                    if (parseInt(total) <= parseInt(page) * parseInt(pageSize)) {
                        $('#next-button').prop('disabled', true);
                    } else {
                        $('#next-button').prop('disabled', false);
                    }
                }
            })
        }

        function boardWrite() {
            location.href = `/board-upload`;
        }

    </script>
</head>

<body class="search list-style">
<header include-html="/header"></header>
<main role="main">
    <div id="main" class="row">
        <div class="row-content buffer-left buffer-right buffer-bottom clear-after">
            <div class="column nine">
                <div class="search-results">
                    <h4 id="search-text"></h4>
                </div>
                <div id="board-list">

                </div>
                <br/>
                <div id='button-list' class="button-group pagination">

                </div>
            </div><!-- column nine -->
            <aside role="complementary" class="sidebar column three last">
                <div class="widget widget_search">
                    <form role="search" onsubmit="return false">
                        <span class="pre-input"><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input id='search-input' type="text" placeholder="Search..." value="" class="plain buffer" onkeyup="if(window.event.keyCode==13){search()}">
                    </form>
                </div>
                <div class="widget">
                    <h4>검색 조건</h4>
                    <div class="textwidget">
                        검색은 제목과 내용에서 검색됩니다...어쩌구
                    </div>
                </div>
                <div class="widget">
                    <h4>Recent Posts</h4>
                    <ul class="plain">
                        <li><a href="#">Uff e che fatica</a></li>
                        <li><a href="#">Un weekend al mare</a></li>
                        <li><a href="#">Il signor Kasper</a></li>
                        <li><a href="#">Ottimo lavoro</a></li>
                    </ul>
                </div>
                <div class="widget">
                    <button class="board-write-button" onclick="boardWrite()">구인 글 작성</button>
                </div>
            </aside>
        </div><!-- row-content -->
    </div><!-- row -->
</main><!-- main -->
<footer include-html="/footer" role="contentinfo"></footer>

</body>
<script>
    includeHTML(function () {
        includeRouter(function () {
            // do something in the future
        });
    });
</script>
</html>
