<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="The Page Description">
    <style type="text/css">@-ms-viewport {
        width: device-width;
    }</style>
    <title>DevIT</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/layers.min.css" media="screen">
    <link rel="stylesheet" href="/static/board.css" media="screen">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="nav-inner row-content buffer-left buffer-right even clear-after">
    <div id="brand">
        <h1 class="reset"><!--<img src="img/logo.png" alt="logo">--><a href="">DevIT</a></h1>
    </div><!-- brand -->
    <nav>
        <ul class="reset" role="navigation">
            <li class="menu-item">
                <a href="">Home</a>
            </li>
            <li class="menu-item">
                <a href="">블라ㅏ</a>
            </li>
            <li class="menu-item"><a href="#">저쩌구</a></li>
            <li class="menu-item">
                <a href="#">어쩌구</a>
            </li>
            <li class="menu-item">
                <a href="#">[로그아웃]</a>
            </li>
        </ul>
    </nav>
</div><!-- row-content -->
</body>
</html>