<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content=""/>
    <meta name="keywords" content="free template, bootstrap, bootstrap4"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@300&family=Nanum+Gothic:wght@400;800&display=swap"
          rel="stylesheet">
    <script src="/static/includeHTML.js"></script>
    <script src="/static/includeRouter.js"></script>

    <style>
        * {
            font-family: 'Do Hyeon', sans-serif
        }
        p {
            font-size: 1.3rem;
        }
    </style>

    <title>개발IT</title>
</head>
<body>
<div class="lines-wrap">
    <div class="lines-inner">
        <div class="lines"></div>
    </div>
</div>
<!-- END lines -->


<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<nav class="site-nav">
    <div class="container">
    </div>
</nav>


<div class="custom-hero section">
    <div class="container">
        <div style="margin: auto; width: 250px">
            <img src="/static/logo-removebg.png" alt="Image"
                             class="">
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 style="margin-top: 50px">당신의 가치를 증명하세요</h1>
                <p>당신을 필요로 하는 곳에서 당신의 가치를 새롭게 정의 해드립니다.</p>
                <p>개발자의 새로운 시작을 알리세요.</p>
                <p><a href="login" class="btn btn-primary" style="width: 300px">시작하기</a></p>
            </div>
        </div>
    </div>
</div>


<div class="site-section">
    <div class="container">
        <div class="align-items-center justify-content-around">
                <div>
                    <div data-jarallax-element="-100" class="jarallax" style="height: 500px; text-align: center">
                        <h2>DATA 1</h2>
                        <div style="width: 700px; height: 800px;">
                            <!--차트가 그려질 부분-->
                            <canvas id="myChart-1"></canvas>
                        </div>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
                    </div>
                </div>

                <div>
                    <div data-jarallax-element="-100" class="jarallax" style="text-align: center;">
                        <h2>DATA 2</h2>
                        <div style="width: 500px; height: 400px; margin-left: 40%">
                            <!--차트가 그려질 부분-->
                            <canvas id="myChart-2"></canvas>
                        </div>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
                    </div>
                </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row justify-content-around align-items-center">
            <div class="col-lg-6">
                <div class="image-stack-v2">
                    <div class="image-stack__item image-stack__item--top">
                        <div data-jarallax-element="-100" class="jarallax">
                            <img src="https://i.pinimg.com/474x/94/27/f9/9427f9c986339f22d01c9cbe92584b9b.jpg"
                                 alt="Image" class="img-fluid">
                        </div>
                    </div>
                    <div class="image-stack__item image-stack__item--bottom">
                        <img src="https://i.pinimg.com/474x/94/27/f9/9427f9c986339f22d01c9cbe92584b9b.jpg" alt="Image"
                             class="img-fluid">
                    </div>
                </div>


            </div>
            <div class="col-lg-5" >

                <h2 class="mb-4" style="color: #1C2858;">개발잇은 제공합니다.</h2>
                <div class="line my-3"></div>
                <p> 프로그래밍 아르바이트를 구하고 싶으신가요 ?</p>
                <p> 현업에서 일하시는 분의 조언을 받고 싶으신가요 ?</p>
                <p> 시니어 개발자에게 운영 코드를 검토 받고 싶은신가요 ?</p>

                <p>저희 개발잇은 다음과 같은 고민을 가지신 분들을 환영합니다. 혼자서 해결하지 마세요. 합당한 가격에 개인에 요구사항에 맞춘 적합한 개발자를 찾으세요.
                개발잇은 전세계의 개발자를 응원합니다.</p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div>
        <h1 style="text-align: center; color: #1C2858">STEPS</h1>
    </div>
    <div class="container" style="margin-top: 40px">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-lg-0 mb-4" data-aos="fade-up" data-aos-delay="100">
                <div class="service-2 d-flex align-items-md-center">
                    <div class="image">
{#                        <img src="/static/example.png" alt="Image" class="img-fluid">#}
                        <svg xmlns="http://www.w3.org/2000/svg" width="160" height="120" fill="currentColor" class="bi bi-person-rolodex" viewBox="0 0 16 16">
  <path d="M8 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
  <path d="M1 1a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h.5a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h.5a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H6.707L6 1.293A1 1 0 0 0 5.293 1H1Zm0 1h4.293L6 2.707A1 1 0 0 0 6.707 3H15v10h-.085a1.5 1.5 0 0 0-2.4-.63C11.885 11.223 10.554 10 8 10c-2.555 0-3.886 1.224-4.514 2.37a1.5 1.5 0 0 0-2.4.63H1V2Z"/>
</svg>
                    </div>
                    <div class="text">
                        <h2 style="color: #1C2858;">STEP 1</h2>
                        <p>이력서를 작성하고 회원들에게 당신을 어필하세요.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-lg-0 mb-4" style="padding-left: 20px" data-aos="fade-up" data-aos-delay="200">
                <div class="service-2 d-flex align-items-md-center">
                    <div class="image">
                        <svg xmlns="http://www.w3.org/2000/svg" width="160" height="130" fill="currentColor" class="bi bi-display" viewBox="0 0 16 16">
  <path d="M0 4s0-2 2-2h12s2 0 2 2v6s0 2-2 2h-4c0 .667.083 1.167.25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75c.167-.333.25-.833.25-1.5H2s-2 0-2-2V4zm1.398-.855a.758.758 0 0 0-.254.302A1.46 1.46 0 0 0 1 4.01V10c0 .325.078.502.145.602.07.105.17.188.302.254a1.464 1.464 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.758.758 0 0 0 .254-.302 1.464 1.464 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.757.757 0 0 0-.302-.254A1.46 1.46 0 0 0 13.99 3H2c-.325 0-.502.078-.602.145z"/>
</svg>
                    </div>
                    <div class="text">
                        <h2 style="color: #1C2858;">STEP 2</h2>
                        <p>조건에 부합하는 일을 찾아, 마음껏 지원하세요.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-lg-0 mb-4" style="padding-left: 30px" data-aos="fade-up" data-aos-delay="300">
                <div class="service-2 d-flex align-items-md-center">
                    <div class="image">
                    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="110" fill="currentColor" class="bi bi-emoji-sunglasses" viewBox="0 0 16 16">
  <path d="M4.968 9.75a.5.5 0 1 0-.866.5A4.498 4.498 0 0 0 8 12.5a4.5 4.5 0 0 0 3.898-2.25.5.5 0 1 0-.866-.5A3.498 3.498 0 0 1 8 11.5a3.498 3.498 0 0 1-3.032-1.75zM7 5.116V5a1 1 0 0 0-1-1H3.28a1 1 0 0 0-.97 1.243l.311 1.242A2 2 0 0 0 4.561 8H5a2 2 0 0 0 1.994-1.839A2.99 2.99 0 0 1 8 6c.393 0 .74.064 1.006.161A2 2 0 0 0 11 8h.438a2 2 0 0 0 1.94-1.515l.311-1.242A1 1 0 0 0 12.72 4H10a1 1 0 0 0-1 1v.116A4.22 4.22 0 0 0 8 5c-.35 0-.69.04-1 .116z"/>
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-1 0A7 7 0 1 0 1 8a7 7 0 0 0 14 0z"/>
</svg>
                    </div>
                    <div class="text">
                        <h2 style="color: #1C2858;">STEP 3</h2>
                        <p>멋지게 일을 마친 후, 당신의 가치를 증명하세요.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer include-html="/footer" role="contentinfo"></footer>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/static/profile.js"></script>

<script>
    includeHTML(function () {
        includeRouter(function () {
            // do something in the future
        });
    });
</script>
<script type="text/javascript">
            let context_1 = document
                .getElementById('myChart-1')
                .getContext('2d');
            let context_2 = document
                .getElementById('myChart-2')
                .getContext('2d');
            let myChart_1 = new Chart(context_1, {
                type: 'line', // 차트의 형태
                data: { // 차트에 들어갈 데이터
                    labels: [
                        //x 축
                        '22.05','22.06','22.07','22.08','22.09','22.10','22.11'
                    ],
                    datasets: [
                        { //데이터
                            label: 'test1', //차트 제목
                            fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
                            data: [
                                21,19,25,20,23,26,25 //x축 label에 대응되는 데이터 값
                            ],
                            backgroundColor: [
                                //색상
                                '#1C2858'
                            ],
                            borderColor: [
                                //경계선 색상
                                '#1C2858'
                            ],
                            borderWidth: 2 //경계선 굵기
                        }/* ,
                        {
                            label: 'test2',
                            fill: false,
                            data: [
                                8, 34, 12, 24
                            ],
                            backgroundColor: 'rgb(157, 109, 12)',
                            borderColor: 'rgb(157, 109, 12)'
                        } */
                    ]
                },
                options: {
                    scales: {
                        yAxes: [
                            {
                                ticks: {
                                    beginAtZero: true
                                }
                            }
                        ]
                    }
                }
            });
            let myChart_2 = new Chart(context_2, {
                type: 'polarArea', // 차트의 형태
                data: { // 차트에 들어갈 데이터
                    labels: ['코드 아르바이트','대학생', '주니어 개발자', '시니어 개발자'], //차트 제목
                    datasets: [
                        { //데이터
                            label: '게시글 카테고리 수',
                            data: [
                                21,19,25,20 //x축 label에 대응되는 데이터 값
                            ],
                            backgroundColor: [
                                //색상
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                            ],
                        }/* ,
                        {
                            label: 'test2',
                            fill: false,
                            data: [
                                8, 34, 12, 24
                            ],
                            backgroundColor: 'rgb(157, 109, 12)',
                            borderColor: 'rgb(157, 109, 12)'
                        } */
                    ]
                },
                options: {
                    responsive : true
                }
            });
        </script>
</body>
</html>