<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content=""/>
    <meta name="keywords" content="free template, bootstrap, bootstrap4"/>

    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@300&family=Nanum+Gothic:wght@400;800&display=swap"
          rel="stylesheet">

    <style>
        * {
            font-family: 'Do Hyeon', sans-serif
        }
    </style>

    <title>개발IT</title>
</head>
<body>
<div class="lines-wrap">
    <div class="lines-inner">
        <div class="lines"></div>
    </div>
</div>
<!-- END lines -->


<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<nav class="site-nav">
    <div class="container">
        <div class="site-navigation">
            <a href="index.html" class="logo float-left m-0">Style <span class="text-primary">.</span></a>

            <ul class="js-clone-nav d-none d-lg-inline-noone text-left site-menu">
                <li class="active"><a href="index.html">Home</a></li>
                <li class="has-children">
                    <a href="#">Pages</a>
                    <ul class="dropdown">
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="single.html">Single</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>

                        <li class="has-children">
                            <a href="#">Menu Two</a>
                            <ul class="dropdown">
                                <li><a href="#">Sub Menu One</a></li>
                                <li><a href="#">Sub Menu Two</a></li>
                                <li><a href="#">Sub Menu Three</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Menu Three</a></li>
                    </ul>
                </li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="elements.html">Elements</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>

            <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-block"
               data-toggle="collapse" data-target="#main-navbar">
                <span></span>
            </a>

        </div>
    </div>
</nav>

<div class="custom-hero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="line js-line mx-auto mb-3 my-3"></div>
                <p class="sub-text">당신의 가치를 증명하세요.</p>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row align-items-center justify-content-around">

            <div class="col-lg-4 text-center">

                <div>
                    <div data-jarallax-element="-100" class="jarallax">
                        <h2>Minimal Design</h2>
                        <span class="d-inline-block">Minimalist Design</span>
                        <img src="https://i.pinimg.com/564x/ce/01/14/ce011409d1eb304d266c02d29b819ea9.jpg" alt="Image"
                             class="img-fluid my-3 my-lg-5">
                        <p class="line-top fig-2-text mb-4">Far far away, behind the word mountains, far from the
                            countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-5 mt-5">

                <div>
                    <h2>Minimal Watch</h2>
                    <span class="d-inline-block">Innovative Design</span>

                    <div class="line me-auto mb-3 mt-3"></div>

                    <p class="line-top fig-2-text my-4">Far far away, behind the word mountains, far from the countries
                        Vokalia and Consonantia, there live the blind texts.</p>
                    <img src="https://i.pinimg.com/474x/ef/fd/ef/effdefb53b4d3d90cec6795b750cb64a.jpg" alt="Image"
                         class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row justify-content-around align-items-center">
            <div class="col-lg-6">
                <div class="image-stack-v2">
                    <div class="image-stack__item image-stack__item--top">
                        <div data-jarallax-element="-100" class="jarallax">
                            <img src="https://i.pinimg.com/474x/94/27/f9/9427f9c986339f22d01c9cbe92584b9b.jpg"
                                 alt="Image" class="img-fluid">
                        </div>
                    </div>
                    <div class="image-stack__item image-stack__item--bottom">
                        <img src="https://i.pinimg.com/474x/94/27/f9/9427f9c986339f22d01c9cbe92584b9b.jpg" alt="Image"
                             class="img-fluid">
                    </div>
                </div>


            </div>
            <div class="col-lg-4">

                <h2 class="mb-4">개발잇은 제공합니다.</h2>
                <div class="line my-3"></div>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                    language ocean.</p>

                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
                    paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-lg-0 mb-4" data-aos="fade-up" data-aos-delay="100">
                <div class="service-2 d-flex align-items-md-center">
                    <div class="image">
                        <img src="/static/example.png" alt="Image" class="img-fluid">
                    </div>
                    <div class="text">
                        <h2>Sneakers</h2>
                        <p>Far far away, behind the word mountains, far from the countries.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-lg-0 mb-4" data-aos="fade-up" data-aos-delay="200">
                <div class="service-2 d-flex align-items-md-center">
                    <div class="image">
                        <img src="/static/example.png" alt="Image" class="img-fluid">
                    </div>
                    <div class="text">
                        <h2>STEP 2</h2>
                        <p>Far far away, behind the word mountains, far from the countries.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-lg-0 mb-4" data-aos="fade-up" data-aos-delay="300">
                <div class="service-2 d-flex align-items-md-center">
                    <div class="image">
                        <img src="/static/example.png" alt="Image" class="img-fluid">
                    </div>
                    <div class="text">
                        <h2>Accessories</h2>
                        <p>Far far away, behind the word mountains, far from the countries.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="custom-hero section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 style="font-family: 'Do Hyeon', sans-serif">당신의 가치를 증명하세요</h1>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts.</p>
                <p><a href="profile" class="btn btn-primary">시작하기</a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>