<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>DevIT</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/bootstrap.css">

    <script src="/static/includeHTML.js"></script>
    <script src="/static/includeRouter.js"></script>
    <style>
        * {
            font-family: 'Do Hyeon', sans-serif;
        }
        .favorite {
            position: absolute;
            top: 1px;
            left: 130px;
        }
        .image_card {
            position: relative;
        }
    </style>


    <script>
        function favorite_delete(dic) {

            $.ajax({
                type: "POST",
                url: `/api/favorite/delete`,
                data: {
                    board_id : dic //게시글 pk 값
                },
                success: function (response) {
                     location.reload();// 화면 과부화를 없애기 위해 특정 태그만 재부팅
                }
             })
        }

        $(function () {
            $('#profile-bar').empty();
            $('#favorite-bar').empty();
            $.ajax({
                type: "GET",
                url: "/api/favorite",
                data: {},
                success: function (response) {
                    console.log(response['data'])
                    let data = JSON.parse(response['data']) //JSON 화 시켜주기
                    let users = data['user']
                    console.log(users)
                    let favorites = data['favorites']
                    console.log(favorites)

                    let email = users['e_mail']
                    let name = users['name']
                    let phone_number = users['phone_number']

                    let user_html = `
                        <p class="user-mail"><i class="fa fa-envelope"></i>${name}</p>
                <p class="user-mail"><i class="fa fa-envelope"></i>${email}</p>
                <p class="mobile-no"><i class="fa fa-phone"></i>${phone_number}</p>
                    `

                    $('#profile-bar').append(user_html);

                    if (favorites.length) {
                        for (let i = 0; i < favorites.length; i++) {
                            let uuid = favorites[i]['board_uuid']
                            let title = favorites[i]['title']
                            let writer = favorites[i]['writer_name']
                            let cost = favorites[i]['cost']
                            let image_url = favorites[i]['image_url']

                            console.log(image_url)
                            let tmp_html = ''

                            if (image_url === 'default_image.jpeg') {
                                tmp_html = `
                        <div class="col" onclick="" style="width: 16rem; padding-left: 5px">
                            <div class="card h-100">
                                <div class="image_card">
                                <img class="no-border img-thumbnail"
                                 src="/static/logo.png"
                                 alt="이미지">
                                <div class="favorite">
                                    <button style="border: 0; outline: 0; background-color:transparent" onclick="favorite_delete('${uuid}')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                                            <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                                        </svg>
                                    </button></div></div>
                            <div class="card-body" style="margin-top: 20px">
                                <a target="_blank" class="card-title">${title}</a>
                                <p class="card-text">${writer}</p>
                                <p class="card-text comment">${cost}원</p>
                            </div>
                        </div>
                    </div>
                        `;
                            } else {
                                tmp_html = `
                        <div class="col" onclick="" style="width: 16rem; padding-left: 5px">
                            <div class="card h-100">
                                <div class="image_card">
                                <img class="no-border img-thumbnail"
                                 src="https://devit-bucket.s3.ap-northeast-2.amazonaws.com/${image_url}"
                                 alt="이미지">
                                <div class="favorite">
                                    <button style="border: 0; outline: 0; background-color:transparent" onclick="favorite_delete('${uuid}')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                                            <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                                        </svg>
                                    </button></div></div>
                            <div class="card-body" style="margin-top: 20px">
                                <a target="_blank" class="card-title">${title}</a>
                                <p class="card-text">${writer}</p>
                                <p class="card-text comment">${cost}원</p>
                            </div>
                        </div>
                    </div>
                        `;
                            }
                            $('#favorite-bar').append(tmp_html);

                        }
                        for (let i = favorites.length; i < 5; i++) {
                                let tmp_html = `<div class="col"padding-left: 5px"></div>`
                                $('#favorite-bar').append(tmp_html);
                            }

                    }
                }
            })
        })
        ;

    </script>
</head>

<body>
<header include-html="/header"></header>
<div class="wrap" style="padding-top: 90px">
    <div class="profile-header">
        <div class="profile-img">
            <img src="http://res.heraldm.com/content/image/2022/05/05/20220505000124_0.jpg" width="200" alt="img">
        </div>
    </div>
    <div class="main-bd">
        <div class="left-side">
            <div class="profile-side" id="profile-bar">
            </div>
        </div>
        <div class="right-side">
            <div class="nav">
                <ul>
                    <li onclick="tabs(0)" class="user-post active">이력서</li>
                    <li onclick="tabs(1)" class="user-review">프로필</li>
                    <li onclick="tabs(2)" class="user-setting">관심 공고</li>
                </ul>
            </div>
            <div class="profile-body">
                <div class="profile-posts tab">
                    <h1>Your Post</h1>
                    <p>dadwfawfw</p>
                </div>
                <div class="profile-review tab">
                    <h1>Your re</h1>
                    <p>dadwfawfw</p>
                </div>
                <div class="profile-setting tab" id="favorite-bar">
                </div>
            </div>
        </div>

    </div>
</div>
<footer include-html="/footer" role="contentinfo"></footer>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/static/profile.js"></script>

<script>
    includeHTML(function () {
        includeRouter(function () {
            // do something in the future
        });
    });
</script>
</body>

</html>
