<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="The Page Description">
    <style type="text/css">@-ms-viewport {
        width: device-width;
    }</style>
    <title>DevIT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/layers.min.css" media="screen">
    <link rel="stylesheet" href="/static/board.css" media="screen">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/bootstrap.css">

    <script>
        $do
    </script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style>
        * {
            font-family: 'Do Hyeon', sans-serif;
        }
    </style>
</head>

<body id="abcd">
<div class="wrap" style="padding-top: 90px">
    <div class="profile-header">
        <div class="profile-img">
            <img src="http://res.heraldm.com/content/image/2022/05/05/20220505000124_0.jpg" width="200" alt="img">
        </div>
    </div>
    <div class="main-bd">
        <div class="left-side">
            <div class="profile-side">
                <p class="user-mail"><i class="fa fa-envelope"></i>김대희</p>
                <p class="user-mail"><i class="fa fa-envelope"></i>1998opening@gmail.com</p>
                <p class="mobile-no"><i class="fa fa-phone"></i>010-7101-7094</p>
            </div>
        </div>
        <div class="right-side">
            <div class="nav">
                <ul>
                    <li onclick="tabs(0)" class="user-post active">이력서</li>
                    <li onclick="tabs(1)" class="user-review">프로필</li>
                    <li onclick="tabs(2)" class="user-setting">관심 공고</li>
                </ul>
            </div>
            <div class="profile-body">
                <div class="profile-posts tab">
                    <h1>Your Post</h1>
                    <p>dadwfawfw</p>
                </div>
                <div class="profile-review tab">
                    <h1>Your re</h1>
                    <p>dadwfawfw</p>
                </div>
                <div class="profile-setting tab card-group" style="background-color: #f5c6cb; ">
                    <div class="col" onclick="" style="width: 16rem;">
                        <div class="card h-100">
                            <img class="no-border img-thumbnail"
                                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcE9NGEQuAXw1Cg98jbhhhUfM2IpZcWilwHg&usqp=CAU"
                                 alt="이미지">
                            <div class="card-body">
                                <a target="_blank" class="card-title">카카오 개발자 모집</a>
                                <p class="card-text">KAKAO</p>
                                <p class="card-text comment">300,000원</p>
                            </div>
                        </div>
                    </div>
                    <div class="col" onclick="" style="width: 16rem;">
                        <div class="card h-100">
                            <img class="no-border img-thumbnail"
                                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcE9NGEQuAXw1Cg98jbhhhUfM2IpZcWilwHg&usqp=CAU"
                                 alt="이미지">
                            <div class="card-body">
                                <a target="_blank" class="card-title">카카오 개발자 모집</a>
                                <p class="card-text">KAKAO</p>
                                <p class="card-text comment">300,000원</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/static/profile.js"></script>

</body>

</html>
